.todo {
    background: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/Ffootball1.jpg') 50% 50% no-repeat;
    background-size: cover;

    .wrapper {
        width: 100%;
    }

    form {
        padding: 40px 0;
        background-color: rgb(250, 204, 0);
    }

    .form-group,
    .form-controls {
        text-align: center;
    }

    h2 {
        padding-bottom: 20px;
        font-size: 25px;
        font-family: 'edosz';
        color: rgb(0,0,0);
    }

    #task-field {
        width: 40%;
        padding: 15px 20px;
        border-style: none;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        margin-bottom: 20px;
        background-color: rgba(255,255,255,0.5);
        outline: none;
        font-size: 12px;
        text-transform: uppercase;
        box-sizing: border-box;
    }

    #submit-task {
        padding: 5px 50px;
        border-style: none;
        border-bottom-left-radius: 7px;
        border-top-right-radius: 7px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 800;
        transition: 0.3s ease-in-out;

        &:hover {
            background-color: rgb(0,0,0);
            color: rgb(255,255,255);
        }
    }

    ul {
        width: 40%;
        padding: 10px;
        margin: 0 auto;
        display: none;

        &.active {
            display: block;
        }
    }

    li {
        width: 100%;
        padding: 10px 20px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        margin: 10px 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(255,255,255,0.85);
        box-sizing: border-box;
        text-transform: uppercase;

        span {
            width: 85%;
            font-size: 13px;
        }

        a {
            font-size: 13px;
        }
    }

    .delete {
        text-indent: -9999px;

        &::before {
            content: '\f1f8';
            font-family: 'fontAwesome';
            text-indent: 0;
            float: right;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 17px;
            color: #FF0000;
            transition: 0.3s ease-in-out;
        }

        

        &:hover::before {
            color: rgb(0,0,0);
            background-color: rgb(250, 204, 0);
        }
    }
}